*{
    padding: 0;
    margin: 0;

}
body{
    background: url(./asserts/gettyimages-510656547-640x640.jpg);
    background-position-y: 50vw;

}
.container{
    margin-top: 20vh;
    font-size: 2em;
    text-align: center;
}
#heading{
    background: rgba(255, 255, 255, 0.394);
    font-size: 4em;
    text-align: center;
}
#textBox{
    width: 20vw;
    height: 5vh;
    font-size: 0.6em;
}
.value{
    color:#080e2b;
}
#Button{
    width:7vw;
    height:6vh;
}